#chevron-left {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.nav-list {
    list-style: none;
}
.border-bottom {
    border-bottom: 1px;
}

#filter-icon {
    width: 20px;
    height: 20px;
}

.link {
    cursor: pointer;
    color: rgb(40, 190, 240);
}

.hover {
    cursor: pointer;
}